body {
  font-size: 12px;
}

.product-card {
  width: 181px;
  height: 327px;
  background-color: #ffffff;
  border: 0.94px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin: 0;
  flex: 0 0 auto;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-bottom: 27px;
}

.heart-icon-container {
  display: flex;
  align-items: center;
}

.shopping-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  max-width: 34px;
  -webkit-transition: max-width 0.5s;
  transition: max-width 1s;
}

.shopping-container .add-to-cart-text {
  display: none;
  padding-right: 15px;

}

.shopping-bag {
  width: 24px;
  height: 24px;
}

.product-image {
  width: 144px;
  height: 181px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info {
  padding-top: 12px;
  text-align: left;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.price {
  font-weight: 600;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .product-card {
    width: 400px;
    height: 600px;
    padding: 25px;
    flex: 0 0 auto;
    transition: box-shadow 0.3s ease-in-out;
  }

  .icons-container {
    padding-bottom: 102px;
  }

  .product-image {
    width: 235px;
    height: 295px;
    padding: 13px 0px;
    padding-bottom: 100px;
  }

  .product-info {
    padding-top: 12px;
    text-align: left;
    align-self: flex-start;
    padding: 0px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .heart-icon:hover path {
    fill: red;
  }

  .shopping-container:hover {
    outline: 2px solid black;

  }

  .shopping-container:hover .add-to-cart-text {
    display: inline-block;
    font-size: 16px;
    padding: 6px 5px 0px 0px;
    opacity: 1;
    margin-left: 8px;
  }

  .shopping-container:hover {
    outline: 2px solid black;
    max-width: 170px;
  }


  .product-card:hover {
    box-shadow: 3px 7px 10.2px rgba(0, 0, 0, 0.15);
  }
}