* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

footer {
  margin-top: auto;
}